.button-load {
  color: white;
  background-color: #15a362;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  border: none;
  box-shadow: none !important;
}

.button-load:hover {
  background-color: #0f6c41;
}

.button-load svg {
  display: inline;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.75rem;
  color: white;
}

/* .button-load:focus svg {
  animation: spin_357 0.5s linear ;
} */
.button-load.loading svg {
  animation: spin_357 0.5s linear;
}

@keyframes spin_357 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}





