.single__book{
  position: relative;
    width: 100%;
   padding: 25px;
    background-image: url('../../assets/images/single_book_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* filter: blur(px); */
    
}
.single__book::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #005c7d; 
  opacity: 0.3;
  filter: blur(5px); /* Apply a blur effect */
}
.content {
  position: relative;
  z-index: 1; /* Place the content above the overlay */
  color: white; /* Example text color */
  padding: 20px;
}
.book__item{
  height: 100% !important;
}
.book__details{
  margin-bottom: 22px;
}
.book__details  h4{
  color: #fff;
}
.book-title {
  font-size: 44px;
  color: #fff;
  letter-spacing: 2px;
}
.book-description {
  font-size: 15px;
  line-height: 1.4;
}
.small-desc{
    color: #b4f3e9;
    font-weight: bold;
    font-size: 14px;
}
.small-desc-tag{
  font-size: 14px;
  font-weight: normal;
}
.book-price {
  color: white;
  font-size: 24px;
  /* font-weight: bold; */
  margin: 14px 0;
}
.buy-btn{
  background: none;
  border: 2px solid #fff;
  padding: 10px 20px;
  text-align: center;
  box-shadow: none;
  color: white;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
@media (min-width: 768px) {
.buy-btn{
 margin: initial;
}
}
